.chart-container {
    padding: 30px;
}

.asset-info-container {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding-left: 38%;
}

.asset-info-container .asset-list {
    width: 25%;
    float: left;
}

.asset-info-container .selected-asset-info {
    width: 75%;
    float: right;
}

.asset-info-container .asset-list .asset-name {
    cursor: pointer;
}

.asset-info-container .asset-list .asset-name.selected {
    background-color: lightgrey;
}
