.home-container {

}

.home-header {
  background-color: #222;
  padding: 30px;
  color: white;
}

.home-title {
  font-size: 1.5em;
  display: inline;
  margin-left: calc(50% - 120px);
}

.login-button {
  float: right;
  background-color: rgb(60, 178, 218);
  padding: 5px 10px;
  border-radius: 3px;
}

.profile-button {
  float: right;
  background-color: rgb(71, 219, 52);
  padding: 5px 10px;
  border-radius: 3px;
}

.admin-button {
  float: right;
  background-color: rgb(235, 17, 17);
  padding: 5px 10px;
  border-radius: 3px;
}

.login-button:hover {
  background-color: rgb(13, 136, 177);
}

.portfolio-title {
  text-align: center;
  margin-bottom: -50px;
}

.messages-title {
  text-align: center;
}

.trade-title {
  text-align: center;
}

.stockChart-container .managed {
  margin-top: 60px;
  text-align: center;
}

.stockChart-container .staffed {
  margin-top: 60px;
  text-align: center;
  cursor: pointer;
}